[submodule "lib/murky"]
	path = lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.5.0
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
	branch = v0.0.84
[submodule "lib/solarray"]
	path = lib/solarray
	url = https://github.com/emo-eth/solarray
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/seaport-types"]
	path = lib/seaport-types
	url = https://github.com/projectopensea/seaport-types
[submodule "lib/seaport-core"]
	path = lib/seaport-core
	url = https://github.com/projectopensea/seaport-core
[submodule "lib/seaport-sol"]
	path = lib/seaport-sol
	url = https://github.com/projectopensea/seaport-sol
[submodule "lib/account-abstraction"]
	path = lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
