node_modules
.env
coverage
coverage.json
typechain-types
yarn-error.log
remappings.txt

#Hardhat files
artifacts/
artifacts-ref/
hh-cache/
hh-cache-ref/


#foundry test compilation files
cache
out
reference-out
optimized-out
reference-working
offerers-out

.DS_Store

# VScode
.vscode
__pycache__

Seaport.yul

# coverage
html
lcov.info