[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/merkle-tree-solidity"]
	path = lib/merkle-tree-solidity
	url = https://github.com/jameswenzel/merkle-tree-solidity
