node_modules
artifacts
cache
coverage*
gasReporterOutput.json

typechain-types/

lib/ds-test/
lib/murky/
lib/seaport-core/
lib/seaport-types/
lib/solarray/
lib/forge-std/
lib/openzeppelin-contracts/
lib/seaport-sol/
lib/solady/
lib/solmate/

docs/OrderValidator.md